# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Node
Frontend/node_modules/

# Build files
Frontend/dist/

# OS
.DS_Store
Thumbs.db